<section class="content" style="height: 100vh">
  <div class="row">
    <div class= "col-xs-12" style="top: 15px; width: 96%; left:4%">
      <div class="row">
        <div class="col-xs-4">
          <div class="box" style="height: 97vh; overflow: auto">
            <div class="list-group">
              <a class="list-group-item list-group-item-action active"> Vehicle: </a>
              <%= render 'search' %>
              <div id="buttons">
                <%= render 'buttons' %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-8" style="left: -30px">
            <div id="map">
              <%= render 'map' %>
            </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- /.content -->