<% content_for :before_scripts do %>
  <link rel="stylesheet" href="/plugins/leaflet/leaflet.css"
  <link rel="stylesheet" href="/plugins/leaflet/maps.css"
  <script src="/plugins/leaflet/leaflet.js"></script>
<% end %>

<div class="content-wrapper dashboard-page">
  <%= render 'header'%>
  <%= render 'body' %>
</div>

