<section class="content-header">
  <div class="row">
    <div class="col-sm-6 col-xs-12">
      <h1 class="page-title">
        Active Responders
      </h1>

    </div>
  </div>
</section>
<!-- Main content -->