<div class="content-wrapper dashboard-page">
  <%= render 'header' %>
  <section class="content">
        <%= render 'search' %>
        <div class="box" data-aos="fade-up">
          <div class="box-body" id="table1">
            <%= render 'table' %>
          </div>
        </div>
  </section>
</div>