<% content_for :before_scripts do %>
<link rel="stylesheet" href="/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
<% end %>

<div class="content-wrapper dashboard-page">
  <section class="content-header">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <h1 class="page-title">
          Active Responders
        </h1>

      </div>
    </div>
  </section>
  <!-- Main content -->
  <section class="content">
        <form action="#" method="get">
          <div class="input-group input-group-lg">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </form>

        <div class="box" data-aos="fade-up">
          <div class="box-body">
            <table id="rs_data_td" class="table table-no-bordered">
              <tr style="background-color: #234ec5; color: white">
                <th style="width: 10px">Responder</th>
                <th style="width: 10px">Temp</th>
                <th style="width: 10px">Heart Rate</th>
                <th style="width: 10px">Location</th>
              </tr>
              <% Responder.all.each do |responder| %>
                <%=responder.responder_id%>
              <tr style="bacdd`kground-color: whitesmoke">
                <td id="name_1" style="text-align: center"><%=responder.r_name%></td>
                <td>
                  <div class="progress progress-xs" style="background-color: lightgray">
                    <div id="bodyb" class="progress-bar progress-bar-danger" style="width: 0%; background-color: green"></div>
                  </div>
                  <span id="body" class="badge bg-warning" style="background-color: green">0°F</span>
                </td>
                <td>
                  <div class="progress progress-xs" style="background-color: lightgray">
                    <div id="heartb" class="progress-bar progress-bar-danger" style="width: 0%; background-color: green"></div>
                  </div>
                  <span id="heart" class="badge bg-warning" style="background-color: green">0bpm</span>
                </td>
                <td style="text-align: center">
                  <i class="fa fa-street-view"></i><br>
                  <div id="la" style="font-size: 12px; text-align: left">La:</div>
                  <div id="lo" style="font-size: 12px; text-align: left">Lo:</div>
                </td>
              </tr>
              <%end%>
<!--
              <tr>
                <td id="name_1" style="text-align: center"></td>
                <td>
                  <div class="progress progress-xs">
                    <div id="bodyb_1" class="progress-bar progress-bar-danger" style="width: 0%; background-color: green"></div>
                  </div>
                  <span id="body_1" class="badge bg-warning" style="background-color: green">0°F</span>
                </td>
                <td>
                  <div class="progress progress-xs">
                    <div id="heartb_1" class="progress-bar progress-bar-danger" style="width: 0%; background-color: green"></div>
                  </div>
                  <span id="heart_1" class="badge bg-warning" style="background-color: green">0bpm</span>
                </td>
                <td style="text-align: center">
                  <i class="fa fa-street-view"></i><br>
                  <div id="la_1" style="font-size: 12px; text-align: left">La:</div>
                  <div id="lo_1" style="font-size: 12px; text-align: left">Lo:</div>
                </td>
              </tr>-->

            </table>
          </div><!-- /.box-body -->
          <div class="box-footer no-padding">
            <div class="mailbox-controls">
              <div class="btn-group">
              </div>
                <div class="pull-right">
                  1-10/200
                <div class="btn-group">
                  <button class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                  <button class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                </div><!-- /.btn-group -->
              </div><!-- /.pull-right -->
            </div>
          </div>
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->



