<div class="content-wrapper">

  <!-- Main content -->
  <section class="content">
    <div class="error-page four-hundred">
      <div class="box box-solid box-warning">
        <div class="box-header with-border text-center">
          <h3 class="box-title">Oops! The page you requested could not be found.</h3>
        </div>

        <div class="box-body">

          <h1 class="error-headline">
            404
          </h1>

          <p>
            We could not find the page you were looking for.
            Meanwhile, you may <a href="index.html">return to home</a>.
          </p>
        </div>
      </div>

    </div>
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
