<% content_for :before_scripts do %>
<% end %>
<div class="content-wrapper dashboard-page">
  <section class="content-header">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <h1 class="page-title">
          Help Me
        </h1>

      </div>
    </div>
  </section>
  <!-- Main content -->
  <section class="content">

  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
