<% content_for :before_scripts do %>
  <link rel="stylesheet" href="/plugins/leaflet/leaflet.css"
  <link rel="stylesheet" href="/plugins/leaflet/maps.css"
  <script src="/plugins/leaflet/leaflet.js"</script>
<% end %>

<div class="content-wrapper dashboard-page">
  <section class="content-header">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <h1 class="page-title">
          Overview Map
        </h1>

      </div>
    </div>
  </section>
  <!-- Main content -->
  <section class="content">
    <div id="mapid"style="height:100vh;">
    </div>

<script src="/plugins/maps/map1.js"></script>


  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
