<% content_for :before_scripts do %>
  <link rel="stylesheet" href="/plugins/leaflet/leaflet.css"
  <link rel="stylesheet" href="/plugins/leaflet/maps.css"
  <script src="/plugins/leaflet/leaflet.js"</script>
<% end %>

<div class="content-wrapper dashboard-page">
  <section class="content-header">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <h1 class="page-title">
          Overview Map
        </h1>

      </div>
    </div>
  </section>
  <!-- Main content -->
  <section class="content">
    <div id="mapid"style="height:100vh;">
    </div>

<script src="/plugins/maps/map1.js"></script>

/*
if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(function(position){
  });

}else {
alert("Geolocation API is not supported in your browser. :(");
}

var mymap = L.map('mapid').setView([31.2, -91.1],14);
L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
maxZoom: 20,
id: 'mapbox.streets',
accessToken: 'pk.eyJ1IjoicmVzcXVlbWUiLCJhIjoiY2pkZG91aDNuMDRsMDJ3bmpnOGJpNGNlNyJ9.hwp2QeD6easWjlAlaEIJ2w'
}).addTo(mymap);

mymap.locate({setView: true});

*/


  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
