<% content_for :before_scripts do %>
  <link rel="stylesheet" href="/plugins/leaflet/leaflet.css"
  <link rel="stylesheet" href="/plugins/leaflet/maps.css"
  <script src="/plugins/leaflet/leaflet.js"</script>
<% end %>

<div class="content-wrapper dashboard-page">
  <section class="content-header">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <h1 class="page-title">
          Responders GPS
        </h1>

      </div>
    </div>
  </section>
  <!-- Main content -->
  <section class="content" style="height: 101vh">
  <div class="row">
    <div class= "col-sm-3" style="left: 10px; top: 10px;">
      <div class="box" style="height: 98vh">

      </div>
    </div>
    <div class= "col-sm-9" style="top: 10px;">
      <div id="mapid" style="height:98vh;">
      </div>
    </div>
  </div>

    <script src="/plugins/maps/map1.js"></script>

  </section><!-- /.content -->
</div><!-- /.content-wrapper -->