<div class="content-wrapper dashboard-page">
  <section class="content-header">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <h1 class="page-title">
          About
        </h1>

      </div>
    </div>
  </section>
  <!-- Main content -->
  <!-- Main content -->
  <section class="content" style="height: 100vh">
    <!-- Default box -->
    <div class="box">
    <img src="/plugins/images/fire_fighter.jpg" style="width: 100%; height: 100vh;">
    <div style="position: absolute; top: 30px; left: 55px;color: white;"  <br><br>
      ResqueMe is a browser based application designed to facilitate <br>communication, coordination, collaboration,
      and situational <br>awareness during large scale disasters. The concept was inspired <br>following the destruction of
      hurricanes Harvey, Irma, and Maria. <br>The developers are Zach Newman and Joseph Tye.
      <br><br>
      Contact: resqueme@protonmail.com
    </div>
      </div><!-- /.box-body -->
  </section><!-- /.content -->
</div><!-- /.content-wrapper -->

